body{
    background:rgb(197, 222, 224);
}
div{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:10px;
    background:rgb(239, 238, 183);
}
h1{
    font-size: 30px;
    color:black;
    padding:10px;
}
img{
    size: 40px;
    padding:0 0 10px 0;
    }
label,button{
    color:black;
    margin:10px;
}
input{
    color:black;
    margin:10px 0 30px 400px ;
}
button{
    width:80px;
    height:30px;
    background:yellow;
    border:2px solid rgb(35, 205, 168);
    border-radius:0 20px 0 20px ;
    margin:10px 0 0 250px;
}

